@import"./abstracts/fonts";
@import "./abstracts/reset";
@import"./abstracts/variables";

/** utilities **/

@import"./utilities/box";
@import"./utilities/container";

/**  components**/
@import "./components/design";
@import "./components/education";
@import "./components/navbar";
@import "./components/profile";
@import "./components/recent_work";
@import "./components/skills";
@import "./components/work_dt";