#design {
    padding: 20px 0px;
    background-color: #F6F3FC;
}

.design1 {

    padding-top: 50px;
    padding-bottom: 50px;
    .quality {
        text-align: center;

        h1 {
            font-family: var(--font_sora_semibold);
            font-size: 40px;
            color: var(--brand_color);
            margin-bottom: 10px;
        }

        p {
            padding-top: 5px;
            font-family: var(--font_sora_regular);
            font-size: 15px;
            color: var(--brand_color1);
            margin-bottom: 30px;
            padding-bottom: 30px;
        }
    }

    .box1 {
       
        border: 1px solid #DDDDDD;
        padding: 20px;
       

        transition: background-color 5s ease, color white 1s ease;
        cursor: pointer;

        &:hover  {
            color:var(--white);
            background: linear-gradient(90deg, #ae3bff, #4c00c2);
        }
    }

    .box_design1 {
        display: grid;
        grid-template-columns: 360px 1fr 80px;
        column-gap: 100px;

        .box_input {
            display: grid;
            grid-template-columns: 10px 1fr;
            column-gap: 30px;

            h3 {
                font-family: var(--font_sora_semibold);
                font-size: 20px;
                color: var(--brand_color);
                margin-bottom: 10px;
            }

            h1 {
                font-family: var(--font_sora_bold);
                font-size: 28px;
                color: var(--brand_color);
                margin-bottom: 10px;
                text-transform: capitalize;
            }
        }

        .box_input1 {
            text-align: center;

            p {
                font-family: var(--font_sora_regular);
                font-size: 18px;
                color: black;
                margin-bottom: 30px;
            }
        }

        .box_icon {

            img {
                display: block;
                transition: transform 1s ease;
                width: 50px;
                height: 50px;
               // background-color: #DDDDDD;

                &:hover {
                    transform: rotate(-180deg);
                    color: #ffffff;
                }
            }
        }


    }

}