.profile_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //background: linear-gradient(90deg, rgba(108, 99, 255, 0.1) 0%, rgba(255, 255, 255, 1) 100%);
    padding-top: 70px;
    border-radius: 20px;

   
   
    .profile_content {
        max-width: 50%;

        h1 {
            font-family: var(--font_sora_semibold);
            font-size: 32px;
            color: var(--brand_color2);
            margin-bottom: 10px;
        }

        h2 {
            font-family: var(--font_sora_bold);
            font-size: 48px;
            color: var(--brand_color);
            margin-bottom: 20px;
        }

        p {
            font-family: var(--font_sora_regular);
            font-size: 18px;
            color: #666;
            margin-bottom: 30px;
        }

        .cta {
            display: flex;
            align-items: center;

            .download_cv {
                display: inline-block;
                padding: 10px 20px;
                font-size: 16px;
                color: #6c63ff;
                border: 2px solid #6c63ff;
                border-radius: 30px;
                text-decoration: none;
                transition: all 0.3s ease;
                margin-right: 20px;

                &:hover {
                    background-color: #6c63ff;
                    color: #fff;
                }
            }

            .social_icons {
                display: flex;
                align-items: center;

                a {
                    margin-right: 20px;


                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 10px;
                        &:hover{
                            background-color: #6c63ff;
                            color: #fff;
                        }

                    }
                }
            }
        }
    }

    .profile-image {
        max-width: 40%;
        padding-right: 100px;


        img {
            width: 100%;
            height: 100%;
            border-radius: 0%;
            /*Maketheimagecircularinitially*/
            transition: border-radius 0.3s ease;
            

            &:hover {
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }
        }
    }
}