.profile_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding: 50px 0px;
    position: relative;



    .profile_content {
        position: relative;
        z-index: 10;
        display: grid;
        align-items: center;
        align-content: center;

        .hi_el {
            position: absolute;
            left: 100%;
            top: 50%;
            color: var(--brand_color);
            -webkit-text-fill-color: white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            font-family: emoji;
            font-size: 340px;
            animation: zoomin_out 4s linear infinite;
            opacity: .4;
            -webkit-animation: zoomin_out 4s linear infinite;
}

        h1 {
            font-size: 60px;
            text-transform: uppercase;
            font-family: var(--font_sora_bold);

            background: -webkit-linear-gradient(var(--brand_color), var(--brand_color2));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 30px;
        }

        h2 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        p {
            font-family: var(--font_sora_regular);
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 30px;
        }

        .cta {
            display: grid;
            column-gap: 20px;
            grid-template-columns: 200px 1fr;
            align-items: center;

            .download_cv {

                a {
                    padding: 15px 25px;
                    border: 1px solid var(--brand_color);
                    border-radius: 25px;

                    i {
                        margin-left: 10px;

                    }

                    &:hover {
                        background-color: var(--brand_color);
                        color: var(--white);
                    }

                }



            }

            .social_icons {


                ul {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    li {
                        a {
                            i {
                                font-size: 20px;
                                height: 40px;
                                width: 40px;
                                text-align: center;
                                line-height: 40px;
                                border: 1px solid var(--brand_color);
                                border-radius: 50%;
                                color: var(--brand_color);

                                &:hover {
                                    background-color: var(--brand_color);
                                    color: var(--white);
                                }
                            }
                        }
                    }
                }
            }
        }

        
    }
    .profile-image {
         display: grid;
         justify-content: center;
         align-items: center;


         img {
             max-width: 400px;
             transition-duration: .3s;
             transform: rotate(5deg);
             margin-left: 15px;
         }

         &:hover {
             img {
                 transform: rotate(-0deg)             ;
                 -webkit-transform: rotate(-0deg)             ;
                 -moz-transform: rotate(-0deg)             ;
                 -ms-transform: rotate(-0deg)             ;
                 -o-transform: rotate(-0deg)             ;
}
         }
     }
}

@keyframes zoomin_out {
    0% {
        transform: scale(.9) translate(-50%, -50%);
    }

    50% {
        transform: scale(1) translate(-50%, -50%);
    }

    100% {
        transform: scale(.9) translate(-50%, -50%);
    }
}