#recent_work {
    padding-top: 100px;

}

.recent_work_pg {
    .work_heading {
        text-align: center;

        h2 {
            font-family: var(--font_sora_semibold);
            font-size: 40px;
            color: var(--brand_color);
            margin-bottom: 10px;
        }

        p {
            padding-top: 5px;
            font-family: var(--font_sora_regular);
            font-size: 15px;
            color: var(--brand_color1);
            margin-bottom: 30px;
        }
    }

    .work_button {
        padding-top: 1px;

        .work_button_list {
            //display: grid;
            //align-content: center;
            //background-color: #F6F3FC;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #F6F3FC;
            padding: 10px;
            border-radius: 30px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin-left: 490px;
            margin-right: 490px;

            ul {
                display: flex;
                justify-content: center;
                gap: 5px;
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    a {
                        display: inline-block;
                        padding: 10px 20px;
                        border-radius: 25px;
                        text-transform: capitalize;
                        color: var(--brand_color);
                        // background-color: #ffffff;
                        //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                        transition: all 1s ease;

                        &:hover {
                            color: #ffffff;
                            background-color: var(--brand_color2);
                            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                            transform: translateY(-5px);
                        }

                        &.active {
                            background-color: var(--brand_color);
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }

    .work_img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* Two equal-width columns */
        gap: 50px;
        /* Spacing between the images */
        margin: 30px 30px;
        padding-top: 30px;

        .work_img_list {
            
            img{
                width: 100%;
                border-radius: 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
}
        }
    }


}